<div class="card">
  <%= link_to image_tag("ツイートの画像", class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to "ツイートのタイトル", root_path, class: :card__title%>
    <%= link_to "by ツイートの投稿者名", root_path, class: :card__user %>
  </div>
</div>